/* By mrcoles... on GitHub. Ironic. */
/* Copied and pasted. Thanks. */
.markdown {
  word-wrap: break-word;
}
.markdown,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown pre,
.markdown code,
.markdown blockquote,
.markdown em,
.markdown strong,
.markdown code {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: consolas, monaco, courier, "courier new", fixed-width;
  color: #333333;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown pre,
.markdown code,
.markdown blockquote,
.markdown ol,
.markdown ul,
.markdown li,
.markdown p,
.markdown section,
.markdown header,
.markdown footer {
  float: none;
  margin: 0;
  padding: 0;
}
.markdown h1,
.markdown p,
.markdown ul,
.markdown ol,
.markdown pre,
.markdown blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
.markdown h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 40px;
  margin: 0;
  overflow: hidden;
}
.markdown h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 20px;
  left: 0;
}
.markdown h1 + * {
  margin-top: 0;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  position: relative;
  margin-bottom: 20px;
}
.markdown h2:before,
.markdown h3:before,
.markdown h4:before,
.markdown h5:before,
.markdown h6:before {
  content: "## ";
  display: inline;
}
.markdown h3:before {
  content: "### ";
}
.markdown h4:before {
  content: "#### ";
}
.markdown h5:before {
  content: "##### ";
}
.markdown h6:before {
  content: "###### ";
}
.markdown li {
  position: relative;
  display: block;
  padding-left: 34px;
  padding-left: 4ch;
}
.markdown li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.markdown ul > li:after {
  content: "*";
}
.markdown ol {
  counter-reset: ol;
}
.markdown ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
.markdown pre {
  margin-left: 34px;
  padding-left: 4ch;
}
.markdown blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.markdown blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
.markdown strong:before,
.markdown strong:after {
  content: "__";
  display: inline;
}
.markdown em:before,
.markdown em:after {
  content: "*";
  display: inline;
}
.markdown a {
  text-decoration: none;
}
.markdown a:before {
  content: "[";
  display: inline;
  color: #333333;
}
.markdown a:after {
  content: "](" attr(href) ")";
  display: inline;
  color: #333333;
}
.markdown code {
  font-weight: 100;
}
.markdown code:before,
.markdown code:after {
  content: "`";
  display: inline;
}
.markdown pre code:before,
.markdown pre code:after {
  content: none;
}
.markdown hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
.markdown hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  .markdown h1 {
    display: block;
  }
}
.markdown-ones ol > li:after {
  content: "1.";
}
